.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     

    background-color: var(--color-white);
    margin: auto;
    padding: 20px;
}

.flexdirection {
    display: flex;
    align-items: center;

    padding: 30px 0 20px 0;
}

.flexcolumn {
    max-width: 500px;
    padding: 10px 0;
}

.about__image {
    width: auto;
}

.about__title, .aboutus__title {
    color: var(--color-dark-grey);

    padding: 10px 7px;
    
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
}

.about__text {
    margin-left: 40px;
}

/* Aboutus second part of about */

.aboutus {
    display: flex;
    flex-direction: row;

    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;

}

.aboutus--direction {
    display: flex;
    flex-direction: column;

    padding: 30px 20px 30px 20px;
}

.aboutus .flexdirection {
    justify-content: space-around;

    margin: 0 20px;
}

.aboutus__text {
    margin: 16px 0 0 0;
}