.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: var(--bg-header-cta);
    color: var(--color-white);

    text-align: center;
    padding: 20px;
}

.cta__title {

    margin: 0 0 28px 0;

    font-family: var(--font-title);
    font-weight: bolder;
    font-size: 2rem;
    text-transform: uppercase;   
}

.cta__text {
    line-height: 1.5;

    margin: 0 0 40px 0;
}

.cta__link {
    border: solid 2px var(--color-white);
    border-radius: 5px;

    width: 100%;

    padding: 16px 0;
}