@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-text: "Open Sans", sans-serif;
    --font-title: 'Montserrat', sans-serif;


    --bg-header-cta: linear-gradient(
        90deg,
        rgba(0, 17, 31, 1) 0%,
        rgba(0, 22, 28, 1) 35%,
        rgba(0, 99, 255, 1) 100%
    );
    --bt-footer: #333;

    --border-mobile-header: #103d4a;
    --bg-image-destop: #000;

    --color-white: #fff;
    --color-light-grey: #f7f4f4;
    --color-medium-grey: #d9d9d9;
    --color-dark-grey: ##4f4c4c;
    --color-red: #b72e2e;

    --color-plan-card-start: #56ccf2;
    --color-plan-card-ultra: #b04cd9;
    --color-plan-card-mega: #b04cd9;

    --color-link: #0084ff;
    --color-font-grey: #666;
}

/* Dark Mode */
